<!DOCTYPE html>
<html>
  <head>
    <title>Werewolf</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Werewolf</h1>
    <p>Welcome to the online Werewolf game %></p>
  </body>
</html>
