<!DOCTYPE html>
<html>
  <head>
    <title>Werewolf</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img class="backgroundImage" src="images/background.jpg" style="z-index:-1;">
    <h1>WEREWOLF</h1>
  </body>
</html>
